* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}







.dropdown {
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 10px;
    font-family: Inter, Helvetica, sans-serif;
}

.drop1 {
    position: relative;
    display: inline-block;
}

.drop1 span {
    color: #55A8FC;
    font-size: 30px;
}

.drop-content {
    height: 160px;
    display: none;
    position: absolute;
    background-color: #eee7f6;
    min-width: 160px;
    box-shadow: 0 8 16 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-content a:hover {
    color: white;
}

.drop-content a {
    color: #55A8FC;
    display: block;
    overflow: auto;
    padding: 10px 0 0 10px;
}

.drop1:hover .drop-content {
    display: block;
}

.driven {
    border-bottom: 4px solid #55A8FC;
}

.border-right {
    border-right: 4px solid #55A8FC;
    height: 40px;
    border-radius: 4px;
    padding-top: 20px;
}

/* End of Css dropdown */

.effaclar-section {
    height: 1350px;
    background-color: #eaf1f8;
    font-family: Inter, Helvetica, sans-serif;
}

.tieude2 {
    color: #55A8FC;
    padding: 20px 100px;
    font-size: 30px;
}

.all-section2 {
    display: flex;
    justify-content: space-around;
    height: 600px;
}

.product {
    background-image: linear-gradient(180deg, #55A8FC 0%, #EAD8FC 100%);
    width: 380px;
    border-radius: 20px;
    padding: 20px 17px;
}

.product2 {
    background-image: linear-gradient(180deg, #55A8FC 0%, #EAD8FC 100%);
    width: 380px;
    border-radius: 20px;
    margin: 20px 50px;
    height: 600px;
}

.product2 img {
    padding: 15px 0px 0px 10px;
}

.product2 h4 {
    padding: 40px 0 10px 30px;
}

.product2 p {
    padding: 0 30px;
}

.h4-product {
    padding: 20px 0 10px 10px;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.tong {
    display: flex;
    margin: 20px 30px;
}

.value {
    color: white;
    padding: 10px 15px;
    font-size: 20px;
}

.timhieuthem {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #55A8FC;
    color: #55A8FC;
    margin: 10px;

}

.timhieuthem:hover {
    color: rgb(213, 82, 213);
    background-color: rgb(233, 229, 229);
}

.icons {
    color: #55A8FC;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #55A8FC;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

.icon-heart {
    margin: 10px 0.1px;
}

.icon-cart {
    margin: 20px 280px 20px;
}

.icon-heart :hover {
    color: rgb(213, 82, 213);
}

.icon-heart :active {
    color: yellow;
}

.photo img {
    height: 300px;
    margin: 20px 23px;
}

.photo {
    transition: all 1s ease;
}

.photo:hover {
    transform: scale(1.2, 1.2);
}

.photo2 img {
    height: 300px;
    margin: 29px 37px 0 37px;
}

.photo2 {
    transition: all 1s ease;
}

.photo2:hover {
    transform: scale(1.25, 1.25);
}

.h4-product2 {
    margin: 10px 0 0;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.value2 {
    color: white;
    margin: 10px 0 0;
    font-size: 20px;
}

.tong2 {
    display: flex;
    margin: 30px 30px;
}